---
import "../styles/global.css";
import MainLayout from "src/layouts/mainLayout.astro";
import GridLayout from "src/layouts/gridLayout.astro";
import Titulo from "@components/titulos.astro";
import Notification1 from "@components/notifications1.astro";
import Notification2 from "@components/notifications2.astro";
import CodeCard from "@components/CodeCard.astro";
import CardText from "@components/CardText.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Components</title>
  </head>
  <body>
    <MainLayout>
      <Titulo text="Notifications 1" />
      <CardText
        titulo="componentes reutilizables y optimizados"
        texto="Los ejemplos de notificación 1 y varios componentes comparten una misma estructura de código, lo que permite reutilizar el diseño, estilos, texto e íconos de forma eficiente. Gracias a los componentes de Astro y Tailwind, es posible personalizar tanto la información como los estilos de cada notificación mediante el uso de props, logrando así una implementación versátil y adaptable con un único código base. Por ejemplo, en notificación 1, el primer contenedor es el diseño original, mientras que los otros tres comparten el mismo código pero presentan estilos diferentes."
      />

      <GridLayout extraClass="items-start">
        <CodeCard
          title="Componente Notification1.astro"
          text=` 
      ---
const {
text = "Título!",
message = "Mensaje predeterminado",
icon = "/icons/hamburger-svgrepo-com.svg",
extraClass = "",
extraClassText = "",} = Astro.props;
      
---
      
<div
class={'p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg 
flex items-center gap-x-4 ${'extraClass'}'}
>
  <div class="shrink-0">
    <img class="w-12 h-12" src={icon} alt="Icono" />
  </div>
  <div class={'flex flex-col ${'extraClassText'}'}>
    <div class="text-xl font-medium text-black">{text}</div>
    <p class="text-slate-500 mb-2">{message}</p>
  </div>
</div>
`
        />

        <CodeCard
          title="index.astro"
          text=`---
import Layout from "@Layouts/Layout.astro"
import Notification1 from "@components/Notifications1.astro";
---
<Layout>     
  <Notification1
    text="Su pedido esta listo!"
    message="Llegara en 15min."
    extraClass="flex-row-reverse"
    icon="icons/food-color-beer-95-svgrepo-com.svg"
    />
</Layout>   
      `
        />
      </GridLayout>
      <GridLayout extraClass="items-center">
        <Notification1 />
        <Notification1
          text="Su pedido esta listo!"
          message="Llegara en 15min."
          extraClass="flex-row-reverse"
          icon="icons/food-color-beer-95-svgrepo-com.svg"
        />
        <Notification1
          text="Preparando tu pedido!"
          message="Estara listo en 20min"
          extraClass="flex-col"
          extraClassText="items-center"
          icon="icons/steak-meat-svgrepo-com.svg"
        />
        <Notification1
          text="tu pedido esta listo!"
          message="Prepara tu estomago!"
          extraClass="flex-col-reverse "
          extraClassText="items-center justify-cente"
          icon="icons/steak-svgrepo-com.svg"
        />
      </GridLayout>
      <Titulo text="Notifications 2" />
      <GridLayout extraClass="items-center">
        <Notification2 />
        <Notification2
          name="Daniel Andrade"
          title="Full Stack Developer"
          image="/images/avatar3.png"
          extraClass="flex-row-reverse"
          btnTxt="Portafolio"
        />
        <Notification2
          name="Steak House"
          title="Mira nuestro menu de steaks"
          image="/images/Sin-título-1.jpg"
          extraClass="flex-col "
          btnTxt="Menu"
          extraTitleClass="text-center"
        />
        <Notification2
          name="Steak House"
          title="Tenemos los mejores cortes!"
          image="/images/5623795.jpg"
          extraClass="flex-col-reverse"
          btnTxt="Menu"
          extraTitleClass="text-center"
        />
      </GridLayout>
    </MainLayout>
  </body>
</html>
