---
import "../styles/global.css";
import MainLayout from "src/layouts/mainLayout.astro";
import GridLayout from "src/layouts/gridLayout.astro";
import Titulo from "@components/titulos.astro";
import Notification1 from "@components/notifications1.astro";
import Notification2 from "@components/notifications2.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Components</title>
  </head>
  <body>
    <MainLayout>
      <Titulo text="Notifications 1" />
      <GridLayout>
        <Notification1 />
        <Notification1
          text="Su pedido esta listo!"
          message="Llegara en 15min."
          extraClass="flex-row-reverse"
          icon="icons/food-color-beer-95-svgrepo-com.svg"
        />
        <Notification1
          text="Preparando tu pedido!"
          message="Estara listo en 20min"
          extraClass="flex-col"
          extraClassText="items-center"
          icon="icons/steak-meat-svgrepo-com.svg"
        />
        <Notification1
          text="tu pedido esta casi listo!"
          message="Prepara tu estomago!"
          extraClass="flex-col-reverse "
          extraClassText="items-center justify-cente"
          icon="icons/steak-svgrepo-com.svg"
        />
      </GridLayout>
      <Titulo text="Notifications 2" />
      <GridLayout>
        <Notification2
          name="Steak House"
          title="Full Stack Developer"
          image="/images/5623795.jpg"
          extraClass=""
          btnTxt="Portafolio"
        />
        <Notification2
          name="Daniel Andrade"
          title="Full Stack Developer"
          image="/images/avatar3.png"
          extraClass="flex-row-reverse"
          btnTxt="Portafolio"
        />
        <Notification2
          name="Steak House"
          title="Mira nuestro menu de steaks"
          image="/images/Sin-título-1.jpg"
          extraClass="flex-col "
          btnTxt="Menu"
          extraTitleClass="text-center"
        />
        <Notification2
          name="Steak House"
          title="Tenemos los mejores cortes!"
          image="/images/5623795.jpg"
          extraClass="flex-col-reverse"
          btnTxt="Menu"
          extraTitleClass="text-center"
        />
      </GridLayout>
    </MainLayout>
  </body>
</html>
