---
import "../styles/global.css";
import MainLayout from "src/layouts/mainLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <MainLayout />
  </body>
</html>
