<div class="navbar bg-black z-50 fixed flex  ">
  <div class="navbar-start w-[33%]">
    <a class="btn btn-ghost h-[90px]"
      ><img class="w-[230px] xs:w-[300px]" src={"/images/logo.png"} alt="Icono" /></a
    >
  </div>
  <div class="navbar-start hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-xl">
      <li><a>Home</a></li>
      <li><a>Components</a></li>
      <li><a>Repocitorio</a></li>
      <li><a>Portafolio</a></li>
    </ul>
  </div>
  <div class="navbar-end lg:w-[18%] pr-4">
    <a class="btn text-xl hidden md:flex">Button</a>
  </div>
  <div class="dropdown dropdown-end">
    <div tabindex="1" role="button" class="btn btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-[30px] w-[30px]"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path>
      </svg>
    </div>
    <ul
      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-6 w-52 p-2 shadow"
    >
      <li><a>Item 1</a></li>
      <li>
        <a>Parent</a>
        <ul class="p-2">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
</div>
