<div
  class="bg-[url('/public/images/bg.jpg')] bg-cover flex flex-wrap justify-center items-center"
>
  <div class="px-7 flex flex-col items-center lg:pr-10">
    <div>
      <img src="/public/images/tipe1.png" alt="" class="w-32 mt-6 lg:w-40" />
    </div>
    <!-- primer img -->
    <div>
      <img src="/public/images/logo3.png" alt="" class="w-72 mt-2 lg:w-96" />
    </div>
    <!-- logo -->
    <div>
      <img src="/public/images/tipe2.png" alt="" class="w-48 mt-4 lg:w-60" />
    </div>
    <!-- imagen bot -->
  </div>
  <div>
    <img
      src="/public/images/carneng.png"
      alt=""
      class="w-80 mt-6 xs:bg-slate-950 sm:w-80 sm:pl-16 lg:w-96"
    />
  </div>
</div>
