---
import Btn1 from "@components/Btn1.astro";
import Btn2 from "@components/Btn2.astro";

---

<section class="bg-[url('images/banner1.webp')]  bg-cover" >
    <div class=" bg-black/60 flex">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 text-center">
            <div class="max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Maestros de la Parrilla</h2>
                <p class="mb-8 font-light text-white sm:text-xl text-center">Cortes perfectos, sabores que perduran y una experiencia inolvidable</p>
                <div class="flex justify-center flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <Btn2 title="contactanos" icon='icons/wpp.svg' ></Btn2>
                    <Btn1 title="contactanos" icon='icons/wpp.svg' ></Btn1>
                

                
                </div>
            </div>
        </div>
        
    </div>
    
</section>