<blockquote
  class="mt-6 items-center justify-center flex h-20 text-xs xs:text-base lg:text-3xl tracking-widest font-semibold italic text-center text-white"
>
  {(Astro.props.text1 = "Descubre el")}&nbsp;
  <span
    class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-orange-500 relative inline-block"
  >
    <span class="relative text-white"> {(Astro.props.textP = "SABOR")}</span>
  </span>
  &nbsp;{(Astro.props.text2 = "auténtico de la carne.")}
</blockquote>
