---
const { children } = Astro.props;
---

<div
  class="gap-4 flex flex-wrap justify-center mx-auto items-center p-4 resize-x border border-gray-300 rounded-lg overflow-auto bg-white bg-opacity-10 min-w-[280px] min-h-[200px] max-w-full"
>
  {children}
  <slot />
</div>
